fastapi
uvicorn[standard]
sqlalchemy
#psycopg2-binary
pydantic
pydantic-settings
pydantic[email]
passlib[bcrypt]
aiokafka
python-jose[cryptography]
alembic
tenacity
asyncpg
alembic
kafka-python

# OAuth / Google SSO
google-auth
google-auth-oauthlib
authlib
httpx